$color-black: #000000;
$color-white: #FFFFFF;
$color-green: green;
$color-red: red;
$color-blue: blue;
$color-btn-hover: #5a6268;
$color-modal-gray: #424242;
$color-dark-red: rgb(78, 5, 5);
$color-orange: #776E39;