
.flameBtn{
  margin-top: 6em;
}
.firebox{
  color: red;
  font-size: 3em;
  font-family: 'Gloria Hallelujah', cursive;

  &:hover{
    color: rgb(255, 108, 108);
    
  }
}


.hide1{
	display:none;
}
.show1{
  display:block;
  margin-top: 6em;
}