body{
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

.cinzel{
    font-family: 'Cinzel Decorative', cursive;
}
.lato{
    font-family: 'Lato', sans-serif;
}

#skipToContent{
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 2000;
    background-color: $color-red;
}

h1{
    font-family: 'Cinzel Decorative', cursive;
}
h2{
    font-family: 'Cinzel Decorative', cursive;
}
h3{
    font-family: 'Cinzel Decorative', cursive;
}

.btn{
    font-family: 'Gloria Hallelujah', cursive;
}
.bg-texture{
    background: url("graphics/img/darkBackground2_edit.jpg");
    background-color: $color-black;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgFlame{
    background: url("graphics/img/flame.gif");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.container{
    padding-top: 4em;
    padding-bottom: 6em;
    min-height: 100vh;
    &-padding{
        padding-top: 10em;
    }
    &-quote{
        width: 100%;
        height: 500px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;     
        margin: auto;
        text-align: center;
        &-text{
            font-family: 'Gloria Hallelujah', cursive;
            font-size: 2em;
        }
    }
    &-rules{
        width: 60%;
        margin: auto;
        margin-top: 6em;
        margin-bottom: 6em;
        text-align: center;
    }
}

.cards{
    margin-top: 4em;
    &-name{
        margin-top: .5rem;
    }
    &-row{
        margin-bottom: 4em!important;
    }
    &-img:hover{
        cursor: pointer;
    }
}

.player{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    &-1{
        &-circle{
            height: 25px;
            width: 25px;
            background-color: $color-red;
            border-radius: 50%;
            display: inline-block;
            margin-right: .8em;
        }
    }
    &-2{
        &-circle{
            height: 25px;
            width: 25px;
            background-color: $color-blue;
            border-radius: 50%;
            display: inline-block;
            margin-right: 1em;
        }
    }
}


.btn{
    background-color: $color-white;
    color: $color-black;
    border-radius: .2rem;
}

.players{
    padding-top: 10px;
    padding-bottom: 10px;
    &-box{
        border-radius: 50%;
        &_img{
            width: 100%;
        }
    }
}

.square{
    font-family: 'Cormorant Infant', serif;    box-sizing: border-box;
    height: 75px;
    border: 3px solid $color-white;
    &-yellow{
        border: 3px solid $color-orange;
        height: 75px;
    }
}

.red{
    background-color: $color-dark-red;
}

.circle{
    &-dark{
        background-color: $color-dark-red;
    }
}


.active{
    border-bottom: 2px solid $color-white;
}

.disabled{
    opacity: 0.7;
}

.modal{ 
    &-header{
        border-bottom: 1px solid $color-modal-gray;
    }
    &-dialog{
        max-width: 600px;
    }
    &-content{
        margin-top: 3em;
        border: 2px solid $color-modal-gray;
        background-color: $color-black;
    }
    &-body{
        &-buttons{
            text-align: center;
            padding-top: 2em;
        }
    }
    &-footer{
        border-top: 1px solid $color-modal-gray;
    }
}
.trapModalRed{
    background-color: $color-dark-red;
}

.focusPlayer1{ 
    border: 2px solid $color-blue;
}

.focusPlayer2{ 
    border: 2px solid $color-green;
}

.dice{
    transition: all 0.75s 0.25s;
    transform: rotate(0);
    margin: auto;
}

.rotate {
    transform: rotate(1440deg);
  }

#startBtn{
    display: none;
}

.startGame{
    margin-top: 15em;
}
.largeStartButton {
    padding: 50px;
    font-size: 50px;
    text-align: center;
    background-color: $color-orange;
    color: $color-white;
    &:hover{
        background-color: rgb(95, 88, 46);
        color: $color-white;
    }
}


.modal-backdrop.show {
opacity: .75;
}

.btn-roll{
    width: 100%;
    background-color: $color-orange;
    color: $color-white;
    border: 1px solid $color-orange;
    border-radius: 0.2rem;
    &:hover{
        background-color: #4a441f;
        cursor: pointer;
    }
}

.yellowBorder{
    border-bottom: 3px solid $color-orange;
}

.winnerGame{
    &-container{
        width: 80%;
        margin: auto;
        padding-bottom: 3em;
        &-header{
            width: 80%;
            padding-top: 2em;
            margin: auto;
            border-bottom: 3px solid $color-orange;
        }
        &-player{
            padding-top: 1em;
        }
        &-rotater{
            // Code by Remani Victor (Great job!)
            
            animation-name: spin;
            animation-duration: 7000ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;

            -moz-animation-name: spin;
            -moz-animation-duration: 7000ms;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;

            -webkit-animation-name: spin;
            -webkit-animation-duration: 7000ms;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;

            @keyframes winnerSpin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }
            @-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
            @-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
        }
        &-img{
            width: 75%;
            margin-top: 2em;
            margin-bottom: 2em;
            animation: imageGrow 5000ms;
            @keyframes imageGrow {
                from {
                    transform: scale(0);
                }
                to {transform: scale(1);}
              }

        }
        &-btn{
            margin-top: 2em;
            color: $color-black;
            background-color: $color-white;
            border-radius: 0.2rem;
            &:hover{
                background-color: $color-btn-hover;
                color: $color-white;
            }
        }
    }
}


.btn-secondary{
    &:hover{
        background-color: $color-orange;
        color: white;
    }
    &:active{
        background-color: #4a441f;
        color: white;
    }
    &:focus{
        box-shadow: 0 0 0 0.2rem $color-white;
    }
    &-confirm:hover{
        background-color: $color-green;
        color: $color-white;
    }
    &-deny:hover{
        background-color: $color-dark-red;
    }
}

.close{
    color: $color-white;
    &:hover{
        color: $color-red;
    }
}

.rowtile{
    margin-left: 5em
}

.no-gutters{
    padding: 0;
}

.dropdown-menu{
    width: 500px;
    padding: 2em;
    color: $color-white;
    background-color: $color-orange;
    border: 1px solid $color-orange;
}

.outline{
    &:focus{
        outline: 2px solid $color-orange;
    }
}

.page-footer{
    background-color: $color-orange;
    color: $color-white;
}

.black{
    color: $color-black;
    &:hover{
        color: $color-black;
    }
}


.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    background: #000
  }

  .noShow{
      display: none;
  }
  .goShow{
      display: block;
  }

  .rm-border{
      &-left{
        border-left: none;
      }
      &-right{
          border-right: none;
    }
    &-top{
        border-top: none;
    }
    &-bottom{
        border-bottom: none;
    }
  }