body{
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-white;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gloria Hallelujah', cursive;
}

.Cormorant{
    font-family: 'Cormorant Infant', serif;
}

#skipToContent{
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 2000;
    background-color: $color-red;
}

h1{
    font-family: 'Cormorant Infant', serif;
}
h2{
    font-family: 'Cormorant Infant', serif;
}
h3{
    font-family: 'Cormorant Infant', serif;
}

.btn{
    font-family: 'Gloria Hallelujah', cursive;
}
.bg-texture{
    background: url("graphics/img/darkBackground2_edit.jpg");
    background-color: $color-black;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    padding-top: 4em;
    padding-bottom: 6em;
    min-height: 100vh;
    &-quote{
        width: 100%;
        height: 500px;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;     
        margin: auto;
        text-align: center;
        &-text{
            font-family: 'Gloria Hallelujah', cursive;
            font-size: 2em;
        }
    }
    &-rules{
        width: 60%;
        margin: auto;
        margin-top: 6em;
        margin-bottom: 6em;
        text-align: center;
    }
}

.cards{
    margin-top: 4em;
    &-row{
        margin-bottom: 4em!important;
    }
    &-img:hover{
        cursor: pointer;
    }
}

.player{
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    &-1{
        &-circle{
            height: 25px;
            width: 25px;
            background-color: $color-red;
            border-radius: 50%;
            display: inline-block;
            margin-right: .8em;
        }
    }
    &-2{
        &-circle{
            height: 25px;
            width: 25px;
            background-color: $color-blue;
            border-radius: 50%;
            display: inline-block;
            margin-right: 1em;
        }
    }
}


.btn{
    background-color: $color-white;
    color: $color-black;
    border-radius: .2rem;
}

.players{
    padding-top: 10px;
    &-box{
        &_img{
            width: 100%;
        }
    }
}

.square{
    font-family: 'Cormorant Infant', serif;    box-sizing: border-box;
    height: 75px;
    border: 3px solid $color-white;
    &-yellow{
        border: 3px solid $color-orange;
        min-height: 117px;
    }
}

.red{
    background-color: $color-red;
}

.active{
    border-bottom: 2px solid $color-white;
}

.disabled{
    opacity: 0.7;
}

.modal{ 
    &-header{
        border-bottom: 1px solid $color-modal-gray;
    }
    &-dialog{
        max-width: 600px;
    }
    &-content{
        margin-top: 3em;
        border: 2px solid $color-modal-gray;
        background-color: $color-black;
    }
    &-body{
        &-buttons{
            text-align: center;
            padding-top: 2em;
        }
    }
    &-footer{
        border-top: 1px solid $color-modal-gray;
    }
}
.trapModalRed{
    background-color: $color-modal-trap;
}

.focusPlayer1{ 
    border: 2px solid $color-blue;
}

.focusPlayer2{ 
    border: 2px solid $color-green;
}

.dice{
    transition: all 0.75s 0.25s;
    transform: rotate(0);
    margin: auto;
}

.rotate {
    transform: rotate(1440deg);
  }

#startBtn{
    display: none;
}

.startGame{
    margin-top: 15em;
}
.largeStartButton {
    padding: 50px;
    text-align: center;
    background-color: $color-green;
    color: $color-white;
    &:hover{
        background-color: rgb(0, 83, 0);
        color: $color-white;
    }
}


.modal-backdrop.show {
opacity: .75;
}

.btn-roll{
    width: 100%;
    background-color: $color-green;
    color: $color-white;
    border: 1px solid $color-green;
    border-radius: 0.2rem;
    &:hover{
        background-color: rgb(0, 83, 0);
        cursor: pointer;
    }
}

.yellowBorder{
    border-bottom: 3px solid $color-orange;
}

.winnerGame{
    &-container{
        width: 80%;
        margin: auto;
        padding-bottom: 3em;
        &-header{
            width: 80%;
            padding-top: 2em;
            margin: auto;
            border-bottom: 3px solid $color-orange;
        }
        &-player{
            padding-top: 1em;
        }
        &-img{
            width: 75%;
            margin-top: 2em;
            margin-bottom: 2em;
        }
        &-btn{
            margin-top: 2em;
            color: $color-white;
            background-color: $color-green;
            border-radius: 0.2rem;
            &:hover{
                background-color: $color-btn-hover;
                color: $color-white;
            }
        }
    }
}


.btn-secondary{
    &:focus{
    box-shadow: 0 0 0 0.2rem $color-white;
    }
    &-confirm:hover{
        background-color: $color-green;
        color: $color-white;
    }
    &-deny:hover{
        background-color: $color-red;
    }
}

.close{
    color: $color-white;
    &:hover{
        color: $color-red;
    }
}

.rowtile{
    margin-left: 5em
}

.no-gutters{
    padding: 0;
}

.dropdown-menu{
    width: 500px;
    padding: 2em;
    color: black;
    background-color: $color-orange;
    border: 1px solid $color-orange;
}

.outline{
    &:focus{
        outline: 2px solid $color-orange;
    }
}

.page-footer{
    background-color: $color-orange;
    color: $color-black;
}

.black{
    color: $color-black;
    &:hover{
        color: $color-black;
    }
}