body {
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gloria Hallelujah", cursive;
}

.Cormorant {
  font-family: "Cinzel Decorative", cursive;
}

.lato {
  font-family: "Lato", sans-serif;
}

#skipToContent {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 2000;
  background-color: red;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
}

h2 {
  font-family: "Cinzel Decorative", cursive;
}

h3 {
  font-family: "Cinzel Decorative", cursive;
}

.btn {
  font-family: "Gloria Hallelujah", cursive;
}

.bg-texture {
  background: url("graphics/img/darkBackground2_edit.jpg");
  background-color: #000000;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgFlame {
  background: url("graphics/img/flame.gif");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.container {
  padding-top: 4em;
  padding-bottom: 6em;
  min-height: 100vh;
}
.container-padding {
  padding-top: 10em;
}
.container-quote {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.container-quote-text {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2em;
}
.container-rules {
  width: 60%;
  margin: auto;
  margin-top: 6em;
  margin-bottom: 6em;
  text-align: center;
}

.cards {
  margin-top: 4em;
}
.cards-name {
  margin-top: 0.5rem;
}
.cards-row {
  margin-bottom: 4em !important;
}
.cards-img:hover {
  cursor: pointer;
}

.player {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}
.player-1-circle {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.8em;
}
.player-2-circle {
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1em;
}

.btn {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 0.2rem;
}

.players {
  padding-top: 10px;
  padding-bottom: 10px;
}
.players-box {
  border-radius: 50%;
}
.players-box_img {
  width: 100%;
}

.square {
  font-family: "Cormorant Infant", serif;
  box-sizing: border-box;
  height: 75px;
  border: 3px solid #FFFFFF;
}
.square-yellow {
  border: 3px solid #776E39;
  height: 75px;
}

.red {
  background-color: #4e0505;
}

.circle-dark {
  background-color: #4e0505;
}

.active {
  border-bottom: 2px solid #FFFFFF;
}

.disabled {
  opacity: 0.7;
}

.modal-header {
  border-bottom: 1px solid #424242;
}
.modal-dialog {
  max-width: 600px;
}
.modal-content {
  margin-top: 3em;
  border: 2px solid #424242;
  background-color: #000000;
}
.modal-body-buttons {
  text-align: center;
  padding-top: 2em;
}
.modal-footer {
  border-top: 1px solid #424242;
}

.trapModalRed {
  background-color: #4e0505;
}

.focusPlayer1 {
  border: 2px solid blue;
}

.focusPlayer2 {
  border: 2px solid green;
}

.dice {
  transition: all 0.75s 0.25s;
  transform: rotate(0);
  margin: auto;
}

.rotate {
  transform: rotate(1440deg);
}

#startBtn {
  display: none;
}

.startGame {
  margin-top: 15em;
}

.largeStartButton {
  padding: 50px;
  font-size: 50px;
  text-align: center;
  background-color: #776E39;
  color: #FFFFFF;
}
.largeStartButton:hover {
  background-color: #5f582e;
  color: #FFFFFF;
}

.modal-backdrop.show {
  opacity: 0.75;
}

.btn-roll {
  width: 100%;
  background-color: #776E39;
  color: #FFFFFF;
  border: 1px solid #776E39;
  border-radius: 0.2rem;
}
.btn-roll:hover {
  background-color: #4a441f;
  cursor: pointer;
}

.yellowBorder {
  border-bottom: 3px solid #776E39;
}

.winnerGame-container {
  width: 80%;
  margin: auto;
  padding-bottom: 3em;
}
.winnerGame-container-header {
  width: 80%;
  padding-top: 2em;
  margin: auto;
  border-bottom: 3px solid #776E39;
}
.winnerGame-container-player {
  padding-top: 1em;
}
.winnerGame-container-img {
  width: 75%;
  margin-top: 2em;
  margin-bottom: 2em;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 10000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 10000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@keyframes winnerSpin {
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotateY(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
.winnerGame-container-btn {
  margin-top: 2em;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 0.2rem;
}
.winnerGame-container-btn:hover {
  background-color: #5a6268;
  color: #FFFFFF;
}

.btn-secondary:hover {
  background-color: #776E39;
  color: white;
}
.btn-secondary:active {
  background-color: #4a441f;
  color: white;
}
.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem #FFFFFF;
}
.btn-secondary-confirm:hover {
  background-color: green;
  color: #FFFFFF;
}
.btn-secondary-deny:hover {
  background-color: #4e0505;
}

.close {
  color: #FFFFFF;
}
.close:hover {
  color: red;
}

.rowtile {
  margin-left: 5em;
}

.no-gutters {
  padding: 0;
}

.dropdown-menu {
  width: 500px;
  padding: 2em;
  color: #FFFFFF;
  background-color: #776E39;
  border: 1px solid #776E39;
}

.outline:focus {
  outline: 2px solid #776E39;
}

.page-footer {
  background-color: #776E39;
  color: #FFFFFF;
}

.black {
  color: #000000;
}
.black:hover {
  color: #000000;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  line-height: 30px;
  text-align: center;
  background: #000;
}

.noShow {
  display: none;
}

.goShow {
  display: block;
}

.navbar {
  background-color: #776E39;
}
.navbar a {
  color: #FFFFFF;
}

.flameBtn {
  margin-top: 6em;
}

.firebox {
  color: red;
  font-size: 3em;
  font-family: "Gloria Hallelujah", cursive;
}
.firebox:hover {
  color: #ff6c6c;
}

.hide1 {
  display: none;
}

.show1 {
  display: block;
  margin-top: 6em;
}

/*# sourceMappingURL=style.css.map */
